body {
  background-color: #fff;
  color: #000000;
}

body {
  font-size: 17px;
}
figcaption {
  font-size: 15px;
  line-height: 1.5;
}
h1 {
  font-size: 2em;
  line-height: 1.5em;
}
h3 {
  font-size:1.25em;
  line-height: 1em;
}
.author {
  font-weight: bold;
}
p {
  font-size: 100%;
  margin: 1em 0;
  line-height: 1.25em;
}




nav {
  background-color: rgba(0,0,0,85);
  float: left;
  position: fixed;
  width: 100%;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

ul {
  list-style-type: none;
  float: right;
  text-decoration: none;
}

li {
  float: right;
  padding: 30px;
  text-decoration: none;
}

a {
  text-decoration: none;}
  a:link { color:#0070BB; }
  a:visited { color:#0070BA; }
  a:hover { color:#FFFFFF; }
  a:active { color:#0070BD; }
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}
